.cntnTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
  width: 100%;
  border: 1px solid black;
  background-image: url("../Home/home.jpg");
}

.taskTitle {
  font-size: 19px;
}
.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px !important;
  width: 150px !important;
  max-width: 160px !important;
  text-align: center;
  background-color: black !important;
  border: 1px black !important;
}
.customButton:hover {
  background-color: rgba(90, 87, 87, 0.342) !important;
  color: black !important;
}
.textSuccess {
  color: green;
  line-height: 200;
  font-size: 16px !important;
}

.textDanger {
  color: red;
  line-height: 200;
  font-size: 16px !important;
}

.buttonSave {
  background-color: black;
  color: white;
  font-size: 12px;
  width: 120px;
  height: 36px;
  font-family: satoshi;
  border: 1px solid black;
}
.button {
  background-color: black;
  color: white;
  font-size: 12px;
  width: 120px;
  height: 36px;
  font-family: satoshi;
  border: 1px solid black;
}
.button:hover {
  background-color: #b1ada2a9;
  color: black;
  font-weight: 600;
  border: none;
}
.buttonAdd {
  margin-left: 20px;
  background-color: black;
  color: white;
  font-size: 10px;
  width: 120px;
  height: 30px;
  font-family: satoshi;
  border: 1px solid black;
}
.buttonAdd:hover {
  background-color: #b1ada2a9;
  color: black;
  font-weight: 600;
  border: none;
}
