.CntText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-bottom: 10px;
  /* padding-left: 16px; */
}

.text {
  color: white;
  font-size: 22px;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-align: right;
  margin: 0px;
}

.textUser {
  color: white;
  font-size: 13px;
  font-weight: 300;
  text-align: right;
  letter-spacing: 1px;
  margin: 0px;
}

.span {
  color: #b8d85c;
  margin-left: 8px;
}
