.nav {
  padding: 13px !important;
  background-color: transparent !important;
  /* background-color: #ebe9e2 !important; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.623);

  margin: 0px !important;
}
.navOne {
  background-color: black !important;
  padding: 13px !important;

  border-bottom: 1px solid black;
  margin: 0px !important;
}

.brand {
  color: white !important;
}
.p {
  color: white !important;
  padding: 8px !important;
  display: flex !important;
  justify-content: center;
  text-align: center;
  margin: 8px !important;
  letter-spacing: 1px;
}
.buttonResponsive {
  color: white !important;
  border: 1px !important;
}
.buttonLog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px !important;
  font-size: 13px !important;
  width: 110px !important;
  color: black !important;
  background-color: white !important;
  border: 1px solid rgb(248, 246, 246) !important;
}

.buttonLog:hover {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white !important;
  /* font-weight: 300 !important; */
}
.dropdownContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.dropdownArrow {
  color: white;
  font-size: 11px;
  position: relative;
  top: 1px;
}

.dropdownCircle {
  height: 40px;
  width: 40px;
  background-color: #b8d85c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.dropdownInitials {
  margin: 0;
  color: black;
  font-weight: 600;
}

.customDropdownToggle::after {
  display: none !important;
}
.customDropdownMenu {
  margin-top: 0.9rem; /* Espacio para evitar superposición */
  transform: translateX(-80px); /* Desplaza a la izquierda para alinearlo */
  z-index: 1050; /* Asegura que esté por encima de otros elementos */
}

@media (max-width: 768px) {
  .p {
    margin: 2.5px !important;
  }

  .buttonLog {
    width: 80px !important;
    margin: 3.5px !important;
    padding: 6px !important;
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
  }
}
