.nav {
  padding: 13px !important;
  background-color: transparent !important;
  /* background-color: #ebe9e2 !important; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.623);

  margin: 0px !important;
}
.navOne {
  background-color: transparent !important;
  background-color: #ebe9e2 !important;
  padding: 13px !important;

  border-bottom: 1px solid black;
  margin: 0px !important;
}

.brand {
  color: white !important;
}
.p {
  color: white !important;
  padding: 8px !important;
  display: flex !important;
  justify-content: center;
  text-align: center;
  margin: 8px !important;
  letter-spacing: 1px;
}

.buttonLog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px !important;
  font-size: 13px !important;
  width: 110px !important;
  color: black !important;
  background-color: white !important;
  border: 1px solid rgb(248, 246, 246) !important;
}

.buttonLog:hover {
  background-color: rgba(90, 87, 87, 0.342) !important;
  color: black !important;
  border: 1px solid black !important;
  font-weight: 600 !important;
}
