.cntnHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 40px; /* Espacio entre el texto y el botón */
  height: 91.3vh;
  background-image: url("home.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: 0% 0%;
  background-attachment: fixed;
}
.Title {
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 30px;
  width: 90%;
}
.cntn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgHome {
  max-width: 100%;
  height: 500px;
}
