.cntnHome {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 40px; /* Espacio entre el texto y el botón */
  background-color: black;
}
.Title {
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 50px;
}
.cntn {
  /* padding-top: 5px; */
  background-image: url("home.jpg");
  max-width: 100%;
  height: 535px;
  display: flex;
  align-items: center;
}
.imgHome {
  max-width: 100%;
  height: 500px;
}
