body {
  margin: 0px;
  text-align: center;
  /* padding: 2px; */
}

.tbody,
td,
tfoot,
th,
thead,
tr {
  /* background-color: #ebe9e2 !important; */
  border: 1px solid rgba(0, 0, 0, 0.096) !important;
}
/* :root {
  --bs-body-bg: #ebe9e2 !important;
} */
.form-check-input:checked {
  background-color: black !important;
  box-shadow: none !important;
  border: black !important;
}
.form-check-input:focus {
  box-shadow: black !important;
}
.modal {
  box-shadow: none !important;
  border-radius: 25px !important;
}

.modal-header .btn-close:focus {
  box-shadow: none !important;
}
.form-floating > .form-select:focus {
  box-shadow: none !important;
  border: 1px solid black !important;
}
.form-control:focus {
  box-shadow: none !important;
  border: 1px solid black !important;
}
.btn-group-sm > .btn,
.btn-sm {
  -bs-btn-padding-y: 0rem !important;
  --bs-btn-padding-x: 0rem !important;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0px !important;
}
.btn-primary {
  -mdb-btn-box-shadow: black !important;
}

.no-float-label .form-label {
  position: static;
  top: auto;
  left: auto;
  transform: none;
  font-size: 1rem;
  color: #6c757d;
}

.no-float-label .form-control:focus + .form-label,
.no-float-label .form-control:not(:placeholder-shown) + .form-label {
  transform: none;
  top: auto;
  left: auto;
  font-size: 0.2rem;
  color: #6c757d;
}
/* .modal-body {
  padding: 0px !important;
} */
.modal-content {
  /* padding: 15px; */
  min-height: 160px !important;
  max-height: 640px !important;
}
.active > .page-link,
.page-link.active {
  background-color: rgb(46, 45, 45) !important;
  border: 1px solid rgb(46, 45, 45) !important;
  color: white !important;
  border-radius: 200px !important;
  font-size: 10px !important;
}
.table {
  margin-bottom: 0px !important;
}

.page-link {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.712) !important;
  border-radius: 200px !important;
  border: 1px solid rgba(0, 0, 0, 0.712) !important;
  font-size: 10px !important;
}
.page-link:hover {
  border: 1px solid black !important;
  color: black !important;
}
p {
  margin: 0px !important;
}
.pagination {
  margin: 0px !important;
}
