.cntnProject {
  align-items: center;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cntnProjets {
  justify-content: center;
  padding: 60px;
}
.cntnNew {
  height: 100vh;
  align-items: center;
  padding: 70px;
  background-color: #ebe9e2;
}
.narrowInputs {
  width: 350px !important;
}
.group {
  display: flex !important;
  /* width: 50%; */
  justify-content: center !important;
  flex-direction: column !important;
}

.buttonAdd {
  margin-right: 20px;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 120px;
  height: 36px;
  font-family: satoshi;
  border: 1px solid black;
}
.buttonAdd:hover {
  background-color: #b1ada2a9;
  color: black;
  font-weight: 600;
  border: none;
}
.buttonViewTasks {
  margin: 0 auto;
  display: block;
}
